body {
    margin: 0rem;
    padding: 0rem;
    max-width: 100vw;
    min-height: 100vh;
}

.background {
    min-height: 96vh;
    padding: 2vh;
    margin: 0rem;
    background: linear-gradient(124deg, #9B51E0 0%, #FF009B 23.76%, #F2C94C 47.51%, #2F80ED 78.45%, #219653 100%);
    background-size: 500% 500%;
    animation: rainbow 12s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }

    50% {
        background-position: 100% 19%;
    }

    100% {
        background-position: 0% 82%;
    }
}

.main {
    font-weight: normal;
    font-size: 1rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-rendering: optimizeLegibility;
}

.article {
    min-height: 96vh;
    border-radius: 1rem;
    background-color: #fff;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    background-image: url('/background.jpg');
    font-size: 1.5rem;
}